.search-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 225px;
    margin-bottom: 10px;
    ;
}

.seach-input-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    flex: 1;
    width: 500px;
}

.search-input {
    margin-left: 5px;
}

.search-result-item {
    border: 1px solid lightblue;
    margin-bottom: 5px;
    padding: 3px;
}

div.seach-container {
    padding: 10px;
    width: 15%;
}

button.search {
    margin-left: 10px;
}